body{

  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 61%, rgb(141, 46, 17) 64%, rgb(104, 104, 104) 67%);
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#header{
  margin-bottom: 50px;
  margin-top: 75px;
}
.results{
  display: none;
  margin-top: 3vh;
}